<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>{{page_title}} | Wordible</title>
</head>

<body>

    {% include "nav.html" %}

    <div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
        <h1 class="mb-4 fw-bold">Welcome to Wordible</h1>
        <a href= "{% url 'word_counter' %}" class="btn btn-primary m-2">Word Counter</a>
        <a href= "{% url 'wfcounter' %}" class="btn btn-secondary m-2">Word Frequency Counter</a>
    </div>
</body> 

</html>